.wrapper {
    display: flex;
    border: 1px solid black;
    min-height: 80px;
}

.labelContainer {
    /* flex: 1.75; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    word-break: break-all; /* to fix long text from overflowing */
    padding: 3px;
}

.labelText{
    
}

.imagesContainer {
    background-color: rgb(32, 32, 32);
    padding: 0 2px;
    flex-basis: calc(100% - 100px - 80px); /* 100% - label width - setting width */
}

.iconContainer{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.settingContainer {
    cursor: pointer;
    transition: all 0.3s ease;
    height: min-content;
}
.settingContainer:hover{
    opacity: 0.5;
}

.settingIcon {
    color: white;
}

.upAndDownContainer {
    display: flex;
    flex-direction: column;
}

.upAndDownIconContainer{
    cursor: pointer;
    transition: all 0.3s ease;
}
.upAndDownIconContainer:hover{
    opacity: 0.5;
}

.upAndDownIcon {
    color: white;
}

@media screen and (max-width: 500px) {
    .iconContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
    }
    .imagesContainer {
        flex-basis: calc(100% - 100px - 50px);
    }
}