.wrapper {
    display: flex;
    border: 1px solid black;
    min-height: 80px;
}

.labelContainer {
    flex: 1.75;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    word-break: break-all; /* to fix long text from overflowing */
    padding: 3px;
}

.labelText{
    
}

.imagesContainer {
    flex: 16;
    background-color: rgb(32, 32, 32);
    padding: 0 2px;
}

.iconContainer{
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.settingContainer {
    cursor: pointer;
    transition: all 0.3s ease;
    height: min-content;
}
.settingContainer:hover{
    opacity: 0.5;
}

.settingIcon {
    color: white;
}

.upAndDownContainer {
    display: flex;
    flex-direction: column;
}

.upAndDownIconContainer{
    cursor: pointer;
    transition: all 0.3s ease;
}
.upAndDownIconContainer:hover{
    opacity: 0.5;
}

.upAndDownIcon {
    color: white;
}